<div class="container">
  <app-filter-input
    inputLabel="Filter search:"
    inputPlaceholder="Ex. Hydrogen"
    [delayTime]="2000"
    (inputValueChange)="handleFilterChange($event)"
  />

  @if(isDataAvaiable() && displayedElementsList().length>0){
  <app-elements-table [dataSource]="displayedElementsList()" />
  } @if(isDataAvaiable() && elementsList().length === 0){
  <div>There is no data avaiable.</div>
  } @if(!isDataAvaiable()){
  <app-loading-spinner txtMessage="Preparing data..." />
  }
</div>
